.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# results and testing files
*.png
*.csv
*.rds
*.pdf

# shape files
*.dbf
*.prj
*.shp
*.shx

# documentation subdirectories
documentation/**/
docs/**/

# specific files
research/move_field.R
